In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# PostgreSQL connection details
pg_user = "root"
pg_password = "root"
pg_host = "localhost"
pg_port = "5432"
pg_db = "ny_taxi"

# Create SQLAlchemy engine
url = f"postgresql://{pg_user}:{pg_password}@{pg_host}:{pg_port}/{pg_db}"
engine = create_engine(url)

In [3]:
# How many rows are there for the Yellow Taxi data for all CSV files in the year 2020? 

pd.read_sql(
    """
    SELECT COUNT(1)
    FROM yellow_tripdata
    WHERE filename LIKE '%%2020%%'
    """,
    engine
)

      count
0  24648499

In [4]:
# How many rows are there for the Green Taxi data for all CSV files in the year 2020? 

pd.read_sql(
    """
    SELECT COUNT(1)
    FROM green_tripdata
    WHERE filename LIKE '%%2020%%'
    """,
    engine
)

     count
0  1734051

In [5]:
# How many rows are there for the Yellow Taxi data for the March 2021 CSV file?

pd.read_sql(
    """
    SELECT COUNT(1)
    FROM yellow_tripdata
    WHERE filename LIKE '%%2021-03%%'
    """,
    engine
)

     count
0  1925152